input{
	height: 20px;
}
.wrapper{
	font-weight: bold;
}
.logoWrappper{
	background-color: #FFAB00;
	justify-content: center;
	display: flex;
}
.logo{
	border-radius: 50px 50px;
	width: 60px;
	height: 60px;
	margin-top: 10px;
	margin-left: 5px;
}
.accountDisplay{
	background-color: #E4D2B0;
	height: 500px;
	border-radius: 30px 30px;
	justify-content: center;
	display: flex;
	margin-top: 10px;
}
